@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.w100 {
  width: 100%;
  margin: 0 auto;
}

.w60 {
  width: 60%;
  margin: 0 auto;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 123;
}

header .slaider-btn {
  opacity: 0.8;
}

header .slaider-btn:hover {
  opacity: 1;
}

header .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  line-height: 64px;
}

header .logotype .logotype-text {
  color: #ffffff;
  font-family: Raleway;
  font-size: 2.125em;
  font-weight: 400;
  letter-spacing: -1.36px;
}

header .head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-top: 5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .head-nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .head-nav .main-menu .main-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #fff;
  padding-right: 2vw;
}

header .head-nav .main-menu .main-menu-list .main-menu-list-item {
  padding: 0.938em;
  font-family: Montserrat;
  font-size: 0.875em;
  font-weight: 300;
}

header .head-nav .main-menu .main-menu-list .main-menu-list-item a {
  text-decoration: none;
  color: #fff;
}

header .head-nav .main-menu .main-menu-list .main-menu-list-item a:hover {
  color: #c7b299;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-bottom: 1px solid #c7b299;
}

header .head-nav .main-menu .main-menu-list .main-menu-list-item .active {
  color: #c7b299;
  border-bottom: 1px solid #c7b299;
}

header .main-group-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 4em;
}

header .main-group-buttons .shop-cart {
  padding-right: 0.7vw;
}

header .main-group-buttons svg {
  fill: #ffffff;
  -webkit-transition: all .7s;
  transition: all .7s;
}

header .main-group-buttons svg:hover {
  fill: #c7b299;
  -webkit-transition: all .7s;
  transition: all .7s;
}

main .header-slaider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .header-slaider .slaider-photo {
  display: contents;
  background: #000000;
}

main .header-slaider .slaider-photo img {
  width: 100%;
}

main .header-slaider .slaider-content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
  color: #ffffff;
}

main .header-slaider .slaider-content .title-slider {
  font-family: Raleway;
  font-size: 2.250em;
  font-weight: 500;
}

main .header-slaider .slaider-content h1 {
  font-family: "Raleway - Extra Bold";
  font-size: 3.250em;
  font-weight: 400;
}

main .header-slaider .slaider-content .text-slaider {
  font-family: Montserrat;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
}

main .header-slaider .slaider-content .btn {
  margin-top: 7vh;
  display: inline-block;
  width: 10.625em;
  height: 3.313em;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 3.313em;
  text-transform: uppercase;
  text-decoration: none;
}

main .header-slaider .slaider-content .btn:hover {
  -webkit-box-shadow: inset 0 3px 0 #736357;
          box-shadow: inset 0 3px 0 #736357;
}

main .header-slaider .group-slaider-btn {
  position: absolute;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 5vw;
  right: 5vw;
}

main .header-slaider .group-slaider-btn .btn {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 2.500em;
  height: 4.563em;
  opacity: 0.7;
}

main .header-slaider .group-slaider-btn .btn:hover {
  opacity: 1;
}

main .header-slaider .group-slaider-btn .prev {
  background-image: url(../img/left.svg);
}

main .header-slaider .group-slaider-btn .next {
  background-image: url(../img/right.svg);
}

main .header-slaider .pagination {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .header-slaider .pagination .link {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  opacity: 0.7;
  border: 2px solid transparent;
}

main .header-slaider .pagination .link:hover {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

main .header-slaider .pagination .link-active {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

.card-block {
  width: 80%;
  margin: 5vh auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: row;
      flex-flow: row;
  text-align: center;
}

.card-block .card {
  position: relative;
  width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #555555;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  fill: #555;
}

.card-block .card:hover {
  color: #d3c1ad;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  fill: #d3c1ad;
}

.card-block .card:hover::before {
  content: '';
  margin-left: -35px;
  width: 70px;
  height: 3px;
  background: #d3c1ad;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.card-block .card .card-main {
  padding-top: 2vh;
}

.card-block .card .card-main .card-title {
  padding-top: 1.5vh;
  font-family: "Raleway - Semi Bold";
  font-size: 22px;
  font-weight: 400;
}

.card-block .card .card-main .card-text {
  padding-top: 1vh;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 5vh;
}

.about {
  text-align: center;
}

.about .about-title {
  padding-top: 7vh;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}

.about .about-text {
  padding-top: 2vh;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.about .ideas {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 60vh;
  background-image: url("../img/ideas/browser-center.jpg"), url("../img/ideas/browser-left.jpg"), url("../img/ideas/browser-right.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center, left, right;
}

.banner {
  height: 10vh;
  padding-top: 6vh;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner .banner-left {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.banner .banner-title {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400;
  color: #c7b299;
}

.banner .banner-title span {
  color: #ffffff;
}

.banner .banner-text {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.banner .banner-btn {
  width: 170px;
  height: 50px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}

.banner .banner-btn:hover {
  -webkit-box-shadow: inset 0 3px 0 #736357;
          box-shadow: inset 0 3px 0 #736357;
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5vh;
  text-align: center;
}

.latest .latest-title {
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}

.latest .latest-text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.latest .group-btn-latest {
  width: 80%;
  margin: 0 auto;
  padding-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.latest .group-btn-latest a {
  width: auto;
  padding: 5px 30px;
  line-height: 32px;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.latest .group-btn-latest a:hover {
  background-color: #998675;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.latest .group-btn-latest .btn-active {
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
}

.latest .latest-group-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5vh;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.latest .latest-group-card .latest-card {
  margin-bottom: 2vh;
  position: relative;
  text-align: left;
}

.latest .latest-group-card .latest-card .latest-card-title {
  display: block;
  padding: 0.5vh 1.5vw;
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.latest .latest-group-card .latest-card .latest-card-title::before {
  height: 10px;
  content: '';
  border: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  left: 10%;
  top: 69%;
}

.latest .latest-group-card .latest-card .latest-card-text {
  padding: 0.5vh 1.5vw;
  width: 100%;
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.latest .card:hover {
  background-color: #362f2d;
  color: #ffffff;
  cursor: pointer;
}

.latest .card-icon-hover {
  position: absolute;
  top: 0;
  height: 43%;
  width: 100%;
  text-align: center;
  opacity: 0;
  padding-top: 30%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.latest .card-icon-hover:hover {
  opacity: 1;
  -webkit-box-shadow: inset 0px 0 1000px 30px;
          box-shadow: inset 0px 0 1000px 30px;
}

.latest .card-icon-hover .link {
  padding-right: 2vw;
}

.latest .nav {
  margin-top: 5vh;
  width: 100%;
  text-align: center;
}

.latest .nav .latest-btn {
  width: 170px;
  height: 50px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
  font-family: "Raleway - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.latest .nav .latest-btn:hover {
  -webkit-box-shadow: inset 0 3px 0 #736357;
          box-shadow: inset 0 3px 0 #736357;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.video-blok {
  margin: 5vh auto 0;
  position: relative;
  background-color: #00000080;
}

.video-blok .video-bg {
  mix-blend-mode: overlay;
}

.video-blok figure {
  position: absolute;
  width: 100%;
  float: left;
  text-align: center;
  top: 35%;
  color: #fff;
}

.video-blok figure .video-btn {
  fill: #ffffff;
  padding-bottom: 2vh;
}

.video-blok figure .video-btn:hover {
  cursor: pointer;
  fill: #c7b299;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.video-blok figure .text-video {
  padding: 3vh;
}

.iphone {
  height: 60vh;
  background-image: url("../img/iPhone_in_hand.png");
  background-repeat: no-repeat;
  background-position-x: 30%;
  background-position-y: 40%;
  padding-top: 15%;
}

.iphone .title-iphone {
  margin-left: 45%;
  width: 30%;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}

.iphone .text-iphone {
  margin-left: 45%;
  width: 30%;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.iphone .list-iphone {
  margin-left: 50%;
  margin-top: 5vh;
  list-style-type: none;
}

.iphone .list-iphone li {
  padding: 1vh;
  position: relative;
}

.iphone .list-iphone li::before {
  position: absolute;
  left: -2.5vw;
  display: block;
  content: '';
  background-image: url("../img/01.png");
  width: 21px;
  height: 21px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info div figure {
  text-align: center;
  padding-top: 5vh;
}

.info div figcaption {
  margin-top: 2vh;
}

.info div figcaption .number {
  margin-top: 2vh;
  color: #ffffff;
  font-family: "Montserrat - Ultra Light";
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
}

.info div figcaption .text {
  margin-top: 2vh;
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5vh;
}

.info div figcaption .text::after {
  display: block;
  content: '';
  height: 2px;
  background-color: white;
  margin: 1vh auto;
  width: 20px;
}

.post {
  margin: 0 auto;
  text-align: center;
}

.post .title-post {
  margin-top: 5vh;
  color: #555555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}

.post .text-post {
  margin-top: 2vh;
  width: 100%;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.post div {
  margin: 0 auto;
  padding-top: 3vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post div figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 1vh;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.post div figure figcaption {
  text-align: left;
  padding-left: 1vw;
}

.post div figure figcaption span {
  width: 100%;
  color: #555555;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500;
}

.post div figure figcaption p {
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.post div figure figcaption a {
  display: block;
  padding-bottom: 1vh;
  color: #c7b299;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  position: relative;
}

.post div figure figcaption a::after {
  top: 20%;
  left: 25%;
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-left: 10px solid #c7b299;
  display: inline-block;
  width: 0;
  height: 0;
}

.post div figure figcaption a:hover {
  text-decoration: underline;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.post div figure:hover {
  background-color: #362f2d;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.post div figure:hover span {
  color: #c7b299;
}

.post .pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
}

.post .pagination svg {
  fill: #d1d1d1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.post .pagination svg:hover {
  fill: #c7b299;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.post .pagination a {
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: .2em;
}

.friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/frends.jpg");
  background-repeat: no-repeat;
}

.friends a {
  margin: 1vh 1vw;
  padding: 9vh 2vw;
}

.friends a img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.friends a:hover {
  outline: 1px solid gray;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.friends a:focus {
  outline: 1px solid gray;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer-main {
  width: 100%;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-main .w60-footer {
  margin: 0 auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-main .title-logo {
  line-height: 64px;
}

.footer-main .card-logo {
  width: 15vw;
  fill: #fff;
}

.footer-main .card-logo .logotype-text {
  color: #ffffff;
  font-family: Raleway;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}

.footer-main .card-logo .card-logo-text {
  padding-top: 2vh;
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.footer-main .card-logo a {
  text-decoration: none;
}

.footer-main .card-logo .read {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: block;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.footer-main .card-logo .read::after {
  top: 20%;
  left: 30%;
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-left: 10px solid #ffffff;
  display: inline-block;
  width: 0;
  height: 0;
}

.footer-main .recent {
  width: 15vw;
  margin-right: 1vw;
}

.footer-main .recent .recent-title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1em;
}

.footer-main .recent figure:nth-child(2n) .date {
  color: #363636;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  padding: 20px 0;
}

.footer-main .recent figure:nth-child(2n) p {
  padding: 0.5em 0;
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer-main .recent figure:nth-child(2n+1) .date {
  color: #ffffff;
}

.footer-main .recent figure:nth-child(2n+1) p {
  color: #c7b299;
}

.footer-main .recent figure:nth-child(2n+1)::before {
  display: block;
  margin: 1em 0;
  content: '';
  width: 100%;
  background-color: #595f6f;
  height: 1px;
}

.footer-main .recent figure:nth-child(2n+1)::after {
  display: block;
  margin: 1em 0;
  content: '';
  width: 100%;
  background-color: #595f6f;
  height: 1px;
}

.footer-main .twit {
  width: 15vw;
}

.footer-main .twit .twit-title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1em;
}

.footer-main .twit figure:nth-child(2n) .date {
  color: #363636;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  padding: 20px 0;
}

.footer-main .twit figure:nth-child(2n) p {
  padding: 0.5em 0;
  color: #555555;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer-main .twit figure:nth-child(2n+1) .date {
  color: #363636;
}

.footer-main .twit figure:nth-child(2n+1) p {
  color: #555555;
}

.footer-main .twit figure:nth-child(2n+1)::before {
  display: block;
  margin: 1em 0;
  content: '';
  width: 100%;
  background-color: #595f6f;
  height: 1px;
}

.footer-main .twit figure:nth-child(2n+1)::after {
  display: block;
  margin: 1em 0;
  content: '';
  width: 100%;
  background-color: #595f6f;
  height: 1px;
}

.footer-main .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 15vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.blue {
  color: #00bff3;
}

.white {
  color: #959595;
  cursor: pointer;
}

footer {
  background-color: #111111;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 10vh;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

footer .footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #252525;
}

footer .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
}

footer .footer span {
  color: #555555;
}

footer .footer .footer-left li {
  padding: 5px;
  position: relative;
}

footer .footer .footer-left li::after {
  margin: 5px;
  display: inline-block;
  content: '';
  width: 1px;
  height: 16px;
  background-color: #555555;
  position: absolute;
  top: 40%;
  right: -5px;
}

footer .footer .footer-left li:last-child::after {
  display: none;
}

footer .footer .footer-right li {
  padding: 5px;
  position: relative;
}

footer .footer .footer-right li:last-child::after {
  margin: 5px;
  display: inline-block;
  content: '';
  width: 1px;
  height: 16px;
  background-color: #555555;
  position: absolute;
  top: 40%;
  left: -5px;
}
/*# sourceMappingURL=style.css.map */